include parts/head1
meta(name='description', content='#{siteDesc}')
meta(name='keywords', content='#{siteKeywords}')
title #{siteName}
style.
	.main h2 {
		margin-top: 40px;
	}


include parts/head2
include parts/bg
#wrapper

	#content.container
		.row

			//left-panel
			.left-panel.col-sm-4.col-md-3.col-lg-2.alignright

				.pdtb.pdlr
					h1.h1
						| #{siteName}
						small v#{version}
					p #{siteDesc}
					p
						a.btn.btn-sm.btn-default(href='https://github.com/zxdong262/jade-editor', rel='external nofollow', target='_blank') @github
					p
						a.btn.btn-sm.btn-success(href='https://github.com/zxdong262/jade-editor/releases', rel='external nofollow', target='_blank') download
					hr

					#qr1.pdb
						
			//main
			.main.col-sm-8.col-md-9.col-lg-10.pd

				.main-content.pd
					h2 try it

					- if(!ua.webkit)
						p.alert.alert-danger !only support webkit browsers
					
					ul.nav.nav-tabs.mgtb
						li.active.mgl(role='presentation', data-tab='edit')
							a(href='#') edit
						li(role='presentation', data-tab='preview')
							a(href='#') preview

					.tab-contents
						.tab-content.edit
							.jade-editor
								textarea#je.form-control(rows='10')
								pre.jade-editor-syntax.prettyprint(lang='jade').
							p
								span keyboard shortcuts: 
								code.mg-sec ctrl + i
								code.mg-sec ctrl + b
								code.mg-sec ctrl + [
								code.mg-sec ctrl + ]

						.tab-content.preview.hide


					
					h2 shortcuts
					hr
					ul
						li <code>ctrl + ]</code>, <code>tab</code>: more indent
						li <code>ctrl + [</code>: less indent
						li <code>ctrl + i</code>: '&lt;i>[selection]&lt;/i>'
						li <code>ctrl + b</code>: '&lt;b>[selection]&lt;/b>'

					h2 features
					hr
					ul
						li auto indent
						li indent can be customized
						li auto close for <code>quote</code>, <code>single quote</code>, <code>bracket</code>, <code>left parenthesis</code>
						li smart tab: tab selection or single line
						li untab keyboard shortcuts: <code>ctrl + [</code>
						li tab keyboard shortcuts: <code>ctrl + ]</code> or just <code>tab</code>
						li keyboard shortcuts for <code>i</code> and <code>b</code>
						li syntax highlighting by google code prettify

					h2 use
					hr
					pre(lang='html').
						&lt;link rel=&quot;stylesheet&quot; href=&quot;dist/jade-editor.css?0.1.0&quot;&gt;
						&lt;div class=&quot;jade-editor&quot;&gt;
								&lt;textarea id=&quot;je&quot;&gt;&lt;/textarea&gt;
								&lt;pre lang=&quot;jade&quot; class=&quot;jade-editor-syntax prettyprint&quot;&gt;&lt;/pre&gt;
						&lt;/div&gt;
						&lt;script src=&quot;dist/vender/prettify.js&quot;&gt;&lt;/script&gt;
						&lt;script src=&quot;dist/jade-editor.min.js&quot;&gt;&lt;/script&gt;
						&lt;script&gt;
								var je = new JadeEditor('je', {
										indent: '    ' //4 space as indent
								})
						&lt;/script&gt;

					h2 license
					hr
					p MIT

					include parts/disqus



				include parts/footer-html
include parts/footer-js
include parts/footer-disqus
include parts/footer-end