script.
	window.h5 = {
		host: '#{host}'
		,href: '#{href}'
	}
- if(env === 'dev')
	script(src='#{cdn}/share/js/vender/jquery-2.2.1.min.js')
	script(src='#{cdn}/share/js/vender/tether.min.js')
	script(src='#{cdn}/share/js/vender/bootstrap4/bootstrap.min.js')
	script(src='#{cdn}/share/js/vender/prettify.js')
	script(src='#{cdn}/share/js/vender/jquery.qrcode.min.js')
	script(src='#{cdn}/dist/canvas-shapes.js')
	script(src='#{cdn}/apps/h5/js/dev/pi-base.js?#{version}')

- else
	script(src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.1.min.js')
	script(src='#{cdn}/share/js/vender/tether.min.js')
	script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js')
	script(src='#{cdn}/apps/h5/js/min/pack.js?#{version}')

script(src='#{host}/jade-editor#{env === "production"?".min":""}.js?#{version}')

script.
	$(function() {

		var je = new JadeEditor('je')
		,preview = $('.preview')

		//tab
		$('.nav a').click(function() {

			var th = $(this)
			,t = th.parent()
			,tab = t.data('tab')
			$('.nav a').removeClass('active')
			th.addClass('active')
			$('.tab-contents .tab-content.' + tab).removeClass('hide').siblings('.tab-content').addClass('hide')

			if(tab === 'preview') doPreview()
		})

		function doPreview() {

			render('<div class="">loading...</div>')

			var ja = je.dom.value

			$.ajax({
				url: h5.host + '/preview-jade'
				,type: 'post'
				,data: {
					jade: ja
				}
				,success: function(res) {
					if(res.code) render('<div class="">error:' + JSON.stringify(res.error) + '</div>')
					else render(res.html)
				}
			})
		}

		function render(html) {
			preview.html(html)
		}

		//end
	})

