script.
	window.h5 = {
		host: '#{host}'
		,href: '#{href}'
	}

- if(env === 'production')
	- if(!ua || ua.modern)
		script(src='#{cdn}/apps/h5/js/min/pack.js?#{version}')
	- else
		script(src='#{cdn}/apps/h5/js/min/pack-old.js?#{version}')

- else
	script(src='#{host}/vender/prettify.js?#{version}')
	- if(!ua || ua.modern)
		script(src='#{cdn}/apps/h5/js/dev/pack-je.js?#{version}')
	- else
		script(src='#{cdn}/apps/h5/js/dev/pack-je-old.js?#{version}')

